<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>

	<!-- Bootstrap -->


	<!-- Put all your CSS in an external CSS file -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" type="text/css" href="/css/app.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<div >

<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="align-items-center justify-content-center title-container ">
        <h1>the shops at columbus circle</h1>
        <h2>Tenant Portal</h2>
    </div>

    <div class="login-container justify-content-center">
        <p id="login-description">
            Welcome, please log in with your store login and password, provided to you during orientation.
        </p>

        <form id="login-form" action="/login" method="post" novalidate>
					<div class="field-container d-flex flex-wrap justify-content-between">
						<div class="username d-flex flex-column">
                <input id="login-username" type="text" class="form-input" name="email" placeholder="store login" required>
								<label><input type="checkbox">Remember Me</label>
								<div id="username-feedback" class="error-font hidden">Please provide your username.</div>
            </div>

            <div class="password d-flex flex-column">
                <input id="login-password" type="password" class="form-input" placeholder="password" required name="password">
                <a href="/forgot_password">Forgot Password?</a>
								<div id="password-feedback" class="error-font hidden">Please provide your password.</div>
								
            </div>

            <div class="submit d-flex flex-column">
                <input class="submit-button btn btn-primary" type="submit" value="sign in">
            </div>
					</div>
            

        </form>

    </div>
    

</div>

<div class="footer-wrap">
		<div class="footer">If you are a new tenant and need an account, please contact the Retail Management office at 212-321-4567
		</div>
</div>




<!-- Load all that javascript -->
<!-- jquery and bootstrap are included here for convenience but are not necessary. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Put all your code in an external JS file -->
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>