<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login Page</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Put all your CSS in an external CSS file -->
	<link rel="stylesheet" type="text/css" href="/css/app.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="bg">

  <main class="container">

    <section>
      <header class="upcase">
        <h1>Welcome to Micrsoft's Github XP</h1>
      </header>

      <h3>Things Just Got Worse</h3>

      <summary>
        Please bear with us while we learn latin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non metus eget tellus eleifend convallis ac et eros. Nunc scelerisque pulvinar egestas. Vivamus feugiat nunc placerat, finibus urna non, vehicula purus.
      </summary>
    </section>

    <section id="form-box">

      <div id="user-message" class="hidden">

      </div>

      <form id="login-form" class="form-inline" action="/login" method="post">
        <div class="form-group column" id="emailInputContainer">
          <label for="emailInput">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
          <span id="emailInputGlyph" class="glyphicon glyphicon-warning-sign form-control-feedback hidden"></span>
        </div>
        <div class="form-group column" id="passwordInputContainer">
          <div class="">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <span id="passwordInputGlyph" class="glyphicon glyphicon-warning-sign form-control-feedback hidden"></span>
          </div>
          <div class="right">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeCheck">
            <label class="form-check-label" for="rememberMeCheck">Remember me</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        </div>
      </form>
    </section>

  </main>

  <footer>
    <p>Call for emotional support at (775) 784-8090</p>
  </footer>


  <!-- Load all that javascript -->
  <!-- jquery and bootstrap are included here for convenience but are not necessary. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Put all your code in an external JS file -->
  <script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
